<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WebDoI | Find Snippets</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles/main.css')}}" />

<!--    <link rel="stylesheet" type="text/css" href="./static/styles/main.css" />-->
<!--  <script src="assets/js/granim.js"></script>-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script data-ad-client="ca-pub-9279253230674491" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
</head>

<body>
    <div class="login-box">
        <h2>howdoi UI</h2>
        <form action="/" method="get">
            <h4 style="color: white">Enter the query</h4>
            <div class="user-box">
                <input type="text" name="" required="" placeholder="print hello in python" />
            </div>
            <div class="user-box" style="color: white">Snippets Provided: 3729</div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a>
        </form>
    </div>
</body>

</html>